@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where(.dark, .dark *, .box));

@media (prefers-color-scheme: dark) {
    :root {
        --background: linear-gradient(to right, #000402 50%, #00110A 100%);
        --foreground: #ededed;
    }


    body {
        color: var(--foreground);
        font-family: "Roboto", sans-serif;
    }
}


@theme {
    --color-light-fill: #ECECEC;
    --color-dao-gray: #666666;
    --color-light-gray: #CFCFCF;
    --color-light-green: #CFCFCF;
    --color-fill-bright: #05F292;

    --color-dao-yellow: #F09A24;
    --color-dao-green: #00B66C;

    --color-light-stroke: #CDCDCD;
    --color-dark-stroke: #1C1C1C;

    --color-main-blue: #286AF6;

    --color-sec-bg: #0A1913;
    --color-dark-bg: #060706;
}

@keyframes borderFlow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.border-glow {
    padding: 2px;
    border-radius: 0.75rem;
    /* Tailwind rounded-lg */
    background: linear-gradient(270deg, #00ff80, #3333ff, #00ffee, #0080ff);
    background-size: 600% 600%;
    animation: borderFlow 4s linear infinite;
}

body {
    color: var(--foreground);
    font-family: "Roboto", sans-serif;
}


.roboto,
* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/*
.box {
    background-color: #286AF608;
    border: 1px solid #286AF621;
}
*/


.w6u9j6 {
    transition: all 2000ms;
}

.animate-spin {
    animation-direction: reverse !important;
}

.transition-slow {
    transition: all 1000ms;
}

.button_primary {
    background-color: transparent;
    border-top: 2px solid #10b981;
    border-bottom: 2px solid #10b981;
    padding: 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_done {
    background-color: #00B66C;
    opacity: 0.3;
    padding: 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_claim {
    background-color: #00B66C;
    padding: 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vr56syh {
    background: var(--background);
}

#profile_header {
    background-image: url('/Frame 34608.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.italic {
    font-style: italic !important;
}